footer {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: small;
  font-style: italic;
  color: whitesmoke;
}

.main-page {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  padding: 10px;
  max-width: 600px;
  color: #002a41;
}

.footer-link {
  text-decoration: underline;
  color: whitesmoke;
}

.footer-link:hover {
  color: #002a41;
}

.borders {
  border: 2px solid #002a41;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 3px 2px 5px #434343;
}

.search-entry {
  background-color: whitesmoke;
  padding: 5px;
  width: 50%;
}

.search-button,
.current-button {
  padding: 5px;
  color: white;
  transition: 300ms all ease-in-out;
}

.search-button:hover,
.current-button:hover {
  background-color: white;
  color: #002a41;
}

.search-button {
  background-color: #002a41;
}

.current-button {
  background-color: #00adec;
  border-color: #00adec;
}

.current-section {
  margin: 15px auto;
  padding: 10px 15px 0px 15px;
  opacity: 0.75;
}

.daytime {
  background-color: whitesmoke;
  color: #002a41;
}

.nighttime {
  background-color: #002a41;
  color: whitesmoke;
}

.current-details li {
  list-style: none;
}

.current-city {
  color: #00adec;
  font-size: 50px;
  text-align: left;
  text-transform: capitalize;
  font-family: "Amatic SC", cursive;
}

.current-description {
  font-size: 15px;
  text-transform: capitalize;
}

#current-temp {
  font-size: 50px;
  position: relative;
  top: -10px;
}

#current-units {
  position: relative;
  top: -32px;
}

#current-icon {
  position: relative;
  top: -20px;
  float: left;
}

.last-updated {
  font-style: italic;
  font-size: 12px;
  text-align: right;
}

.forecast-section {
  margin: 15px auto;
  padding: 10px 15px;
  text-align: center;
  opacity: 0.75;
}

.forecast-day {
  color: #00adec;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}

.forecast-temp {
  font-size: medium;
}

.forecast-temp-high {
  font-weight: 600;
}
